.box.show {
    transform: translateX(0);
}
.box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
body {
    background-color: #efedd6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}
.box h2 {
    font-size: 45px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* Scroll_animation.css */
/* .box {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
  } */
  
  .show-left {
    opacity: 1;
    transform: translateX(0);
  }
  
  .show-right {
    opacity: 1;
    transform: translateX(0);
  }
  